:root {
  --green: #27ae60;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem #0000001a;
}
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}
button{
  outline: none;
  border: none;
}
section {
  padding: 2rem 9%;
}
section:nth-child(even) {
  background: #eee;
}
.sub-heading {
  text-align: center;
  color: var(--green);
  font-size: 2rem;
  padding-top: 1rem;
}
.heading {
  text-align: center;
  color: var(--balck);
  font-size: 3rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}
.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.4rem;
  color: #fff;
  background: var(--black);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}
.btn:hover {
  background: var(--green);
  letter-spacing: 0.1rem;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 7%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}
header .logo {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bolder;
}
header .logo i {
  color: var(--green);
}
header .navbar a {
  font-size: 1.7rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: var(--light-color);
}
header .navbar a.active,
header .navbar a:hover {
  color: #fff;
  background-color: var(--green);
}
header .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .icons i,
header .icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--black);
  border-radius: 50%;
  background: #eee;
}
header .icons i:hover,
header .icons a:hover {
  color: #fff;
  background-color: var(--green);
  transform: rotate(360deg);
}
header .icons .icon-cart{
  position: relative;
}
header .icons .icon-cart span{
  background-color: red;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 0px;
}
header .icons #menu-bars {
  display: none;
}

/* ------ search form ---------- */
#search-form {
  position: fixed;
  top: -110%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1004;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}
#search-form.active {
  top: 0;
}
#search-form #search-box {
  width: 50rem;
  border: none;
  border-bottom: 0.1rem solid #fff;
  padding: 1rem 0;
  color: #fff;
  font-size: 3rem;
  text-transform: none;
  background: none;
}
#search-form #search-box::placeholder {
  color: #fff;
}
#search-form #search-box::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
#search-form label {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
}
#search-form label:hover {
  color: var(--green);
}
#search-form #close {
  position: absolute;
  color: #fff;
  cursor: pointer;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
}
.sliders{
    text-align: center;
    margin-top: 8rem;
}
.sliders .navction{
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.fade{
  animation: 0.5s text;
}
/* start Animation*/
@keyframes text {
  0%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}
/* End Animation*/
.sliders .navction button{
  all: unset;
  margin: 0 5px;
  font-size:4rem;
  color: #fff;
  background: var(--black);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
}

/* dishes section starts  */
.dishes .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 1.5rem;
}
.dishes .box-container .box {
  text-align: center;
  padding: 3rem;
  background: #fff;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
  text-align: center;
}
.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye {
  position: absolute;
  top: 1.5rem;
  background: #eee;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: var(--black);
  transition: 0.5s;
}
.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover {
  background: var(--green);
  color: #fff;
  rotate: 360deg;
}
.dishes .box-container .box .fa-heart {
  right: -15rem;
}
.dishes .box-container .box .fa-eye {
  left: -15rem;
}
.dishes .box-container .box:hover .fa-heart {
  right: 1.5rem;
}
.dishes .box-container .box:hover .fa-eye {
  left: 1.5rem;
}
.dishes .box-container .box img {
  height: 17rem;
  margin: 1rem 0;
}
.dishes .box-container .box h3 ,.dishes .box-container .box .titel-fode {
  color: var(--black);
  font-size: 2.5rem;
}
.dishes .box-container .box .stars {
  padding: 1rem 0;
}
.dishes .box-container .box .stars i {
  font-size: 1.7rem;
  color: var(--green);
}
.dishes .box-container .box span {
  color: var(--green);
  font-weight: bolder;
  margin-right: 1rem;
  font-size: 2.5rem;
}

/* -------- about section -------*/
.about .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}
.about .row .image {
  flex: 1 1 45rem;
}
.about .row .image img {
  width: 100%;
}
.about .row .content {
  flex: 1 1 45rem;
}
.about .row .content h3 {
  color: var(--black);
  font-size: 4rem;
  padding: 0.5rem 0;
}
.about .row .content p {
  color: var(--light-color);
  font-size: 1.5rem;
  padding: 0.5rem 0;
  line-height: 2;
}
.about .row .content .icons-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem 0;
  margin-top: 0.5rem;
  justify-content: space-between;
}
.about .row .content .icons-container .icons {
  background: #eee;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-evenly; */
  justify-content: center;
  gap: 1rem;
  flex: 1 1 17rem;
  /* flex-basis: 32%; */
  padding: 1.5rem 1rem;
}
.about .row .content .icons-container .icons i {
  font-size: 2.5rem;
  color: var(--green);
}
.about .row .content .icons-container .icons span {
  font-size: 1.5rem;
  color: var(--black);
}

/* ----------menu---------- */
.menu{
  margin-top: 50px;
}
.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.menu .box-container .box {
  background: #fff;
  border: 0.1rem solid #00000033;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  padding-bottom: 15px;
  text-align: center;
  overflow: hidden;
}
.menu .box-container .box .image {
  height: 25rem;
  width: 100%;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
  object-fit: cover;
}
.menu .box-container .box .image img {
  /* height: 100%; */
  width: 100%;
  /* object-fit: cover; */
  border-radius: 0.5rem;
}
.menu .box-container .box .image .fa-heart {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  background: #fff;
  border-radius: 50%;
  color: var(--black);
}
.menu .box-container .box .image .fa-heart:hover {
  background: var(--green);
  color: #fff;
}

.menu .box-container .box  .stars {
  padding-bottom: 1rem;
}
.menu .box-container .box  .stars i {
  font-size: 1.7rem;
  color: var(--green);
}
.menu .box-container .box  h3 {
  color: var(--black);
  font-size: 2.5rem;
  padding: 1.5rem;
}
.menu .box-container .box  p {
  color: var(--light-color);
  font-size: 1.6rem;
  padding: 0.2rem 1.5rem ;
  line-height: 1.5;
}
.menu .box-container .box  .btn{
  margin-left: 1.5rem;
}
.menu .box-container .box  .btn a{
  font-size: 1.4rem;
  color: #fff;
  cursor: pointer;
}
.menu .box-container .box  .price {
  color: var(--green);
  margin-left: 1rem;
  font-size: 2.5rem;
}

/* --------review------- */
.review .slide {
  padding: 2rem;
  box-shadow: var(--box-shadow);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  position: relative;
}
.review .slide .fa-quote-right {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 6rem;
  color: #ccc;
}
.review .slide .user {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding-bottom: 1.5rem;
}
.review .slide .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.review .slide .user h3 {
  color: var(--black);
  font-size: 2rem;
  padding-bottom: 0.5rem;
}
.review .slide .user i {
  font-size: 1.3rem;
  color: var(--green);
}
.review .slide p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--light-color);
}
/* -------- order ---------- */
.order form {
  max-width: 90rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: 1rem solid rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 1.5rem;
  margin: 0 auto;
}
.order form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.order form .inputBox .input {
  width: 49%;
}
.order form .inputBox .input span {
  display: flex;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: var(--light-color);
}
.order form .inputBox .input input,
.order form .inputBox .input textarea {
  background: #eee;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
  margin-bottom: 1rem;
  width: 100%;
}
.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus {
  border: 0.1rem solid var(--green);
}
.order form .inputBox .input textarea {
  height: 20rem;
  resize: none;
}
.order form .btn {
  margin-top: 0;
}
/* -------- footer ------- */
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 1.5rem;
}
.footer .box-container .box {
  padding: 5rem 0;
  font-size: 2.5rem;
  color: var(--black);
}
.footer .box-container .box a {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: var(--light-color);
}
.footer .box-container .box a:hover {
  color: var(--green);
  text-decoration: underline;
}
.footer .credit {
  text-align: center;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  color: var(--black);
  padding: 5rem;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}
.footer .credit span {
  color: var(--green);
}
/* media queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 1rem 2rem;
  }
  section {
    padding: 2rem;
  }
  .sliders .slide-item img {
    width: 350px;
}


}

@media (max-width: 768px) {
  header .icons #menu-bars {
    display: inline-block;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: #eee;
  }
  #search-form #search-box {
    width: 90%;
    margin: 0 1rem;
  }
  .home .home-slider .slide .content h3 {
    color: var(--black);
    font-size: 5rem;
  }

}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .dishes .box-container .box img {
    height: auto;
    width: 100%;
  }
  .order form .inputBox .input {
    width: 100%;
  }
}

/* Start Cart */
.cartTap{
  background-color: #353432;
  width: 400px;
  color: #eee;
  position: fixed;
  top: 58px;
  right: 0px;
  bottom: 0px;
  inset: 0 -400px 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  padding: 10px;
  margin-top: 50px;
  font-weight: 300;
}
body.showCart .cartTap{
  inset: 0 0 0 auto;
}
body.showCart .container{
  transition:transform 0.5s;
  transform: translateX(-250px);
}

.cartTap {
  padding: 20px;
}
.cartTap .CartBtn{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.cartTap .CartBtn button{
  background-color: var(--green);
  border: none;
  font-weight: 500;
  cursor: pointer;
}
.cartTap .CartBtn .close{
  background-color: #eee;
}
.cartTap .listCart .item img{
  width: 100%;
}
.cartTap .listCart .item {
  display: grid;
  grid-template-columns: 70px 130px 40px 1fr;
  gap: 5px;
  align-items: center;
  text-align: center;
}
.listCart .quantity span{
  display: inline-block;
  background-color: white;
  text-align: center;
  width: 25px;
  height: 25px;
  line-height: 2.5;
  color: #555;
  border-radius: 50%;
  cursor: pointer;
}
.listCart .quantity span:nth-child(2){
  background-color: transparent;
  color: #eee;
}
.cartTap  .item:nth-child(even){
  background-color: #eee1;
}
.listCart{
  overflow-y:auto ;
}
.listCart::-webkit-scrollbar{
  width: 0;
}

.btn-scrol{
  display: none;
  width: 35px;
  height: 35px;
  padding-top: 3px;
  border-radius: 1rem;
  text-align: center;
  font-weight: 600;
  line-height: 1.5;
  font-size: 20px;
  background-color: var(--black);
  color: white;
  position: fixed;
  cursor: pointer;
  left: 10px;
  bottom: 30px;
}
/* End Cart */









